// Colors

$link-color: #58a6ff;
$color-4700D8: #4700D8;
$color-15202b: #15202b;
$white: white;
$bordered-color: hsla(0, 0%, 100%, .25);
$search-back-ground-color: #253341;
$color-red: red;
$color-FCFCFD: #FCFCFD;
$color-36395A: #36395A;
$color-bebebe: #bebebe;
$color-loader-bg: rgb(17 75 183 / 44%);
$color-loader-spin: #E04D01;
$yellow: yellow;
